<div class="phx-hero">
    <h3>List of products</h3>

    <table>
        <tr>
            <td>Product</td>
            <td>Quantity</td>
        </tr>
        <%= for {name, quantity} <- @dict do  %>
            <tr>
                <td><%= name %></td>
                <td><%= quantity %></td>
            </tr>
        <% end %>
    </table>

         
</div>